.cartContainer {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  padding: 1.5rem;
  height: 100vh;
  min-width: max-content;
  background-color: #fff;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
  .close {
    position: fixed;
    @include center;
    right: 2rem;
    top: 1.2rem;
    font-size: 1.5rem;
    color: $blue;
    border: 1px solid $blue;
    padding: 0.2rem 0.8rem;
    border-radius: 20px;
    cursor: pointer;
  }
  
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    li {
      display: flex;
      align-items: center;
      gap: 1rem;
      width: 100%;

      @media screen and (max-width: 640px) {
        flex-direction: column;
        align-items: flex-start;
      }

      .leftDiv {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;

        .cartImage {
          width: fit-content;
          height: 100px;
          display: flex;
          align-items: center;
          img {
            width: 60px;
            max-width: 60px;
  
            @media screen and (max-width: 640px) {
              width: 40px;
            }
          }
        }
              
        .itemName {
          max-width: 200px;
          font-size: 14px;
        }

      }

      .rightDiv {
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;

        @media screen and (max-width: 640px) {
          margin: 0;
          width: 100%;
        }
  
        .itemPrice {
          font-weight: bold;
        }
  
        .remove {
          border: none;
          background-color: transparent;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.5rem;
          cursor: pointer;
        }

      }
    }
  }

  .totalContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-top: auto;
    
    .cartTotal {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
      @media screen and (max-width: 640px) {
        font-size: 18px;
      }
    }
    
    .removeAll {
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 5px;
      background-color: darkred;
      color: #fff;
      font-weight: bold;
      cursor: pointer;
    }
  }
  
  .checkoutButton {
    margin: 2rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    button {
      font-weight: bold;
      padding: 0.5rem 2rem;
      border: 1px solid $blue;
      border-radius: 5px;
      background-color: transparent;
      color: $blue;
      cursor: pointer;
    }
  }
}



