.products {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .filters {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .filterDrop {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-weight: 600;
      cursor: pointer;
    }

    select {
      border-radius: 20px;
      padding: 0.5rem;
      cursor: pointer;
      font-weight: 600;
      border: 2px solid;
    }
  }

  .productList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;

    .productCard {
      flex: 1;
      padding: 1rem;
      background-color: #fff;
      display: flex;
      justify-content: center;
      
      .cardContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.5rem;
        border-radius: 12px;
        cursor: pointer;
      
        .imageContainer {
          position: relative;
          @include center;
          border: 1px solid #ddd;
          border-radius: 8px;
          width: 200px;
          height: 200px;

          img {
            width: 100%;
            max-width: 100px;
            @media screen and (max-width: 640px) {
              max-width: 40px;
            }
          }

          .heart {
            position: absolute;
            top: 1rem;
            right: 1rem;
            cursor: pointer;

            @media screen and (max-width: 640px) {
              top: 0.5rem;
              right: 0.5rem;
            }
          }

          @media screen and (max-width: 640px) {
            width: 100px;
            height: 100px;
          }
        }

        h5 {
          max-width: 200px;

          @media screen and (max-width: 640px) {
            max-width: 100px;
          }
        }

        .rating {
          display: flex;
          align-items: center;
          gap: 1rem;

          p {
            font-size: 12px;
          }
          @media screen and (max-width: 640px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 0.5rem;
          }
        }

        .buttonContainer {

          
          button {
            border: 1px solid $blue;
            background-color: transparent;
            color: $blue;
            border-radius: 20px;
            padding: 0.5rem 1rem;
            cursor: pointer;
            font-weight: bold;
            
            &:hover {
              background-color: $blue;
              color: #fff;
            }

            @media screen and (max-width: 640px) {
              font-size: 10px;
              padding: 0.2rem 0.5rem;
            }
          }

          .allButtons {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            .quantityButtons {
              display: flex;
              align-items: center;
              gap: 0.5rem;

              p {
                @media screen and (max-width: 640px) {
                  font-size: 12px;
                }
              }

              span {
                font-weight: bold;
                margin: 0 0.4rem;
              }

              button {
                @include center;
              }
            }
          }
        }

      }

      &:hover {
        box-shadow: $box-shadow;
        transition: 0.2s ease;
      }

      @media screen and (max-width: 1160px) {
        flex: 33%;
        padding: 0;
      }
    }

    @media screen and (max-width: 640px) {
      padding: 0;
    }
  }
}