.header {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.05);
}

.footer {
  background-color: $blue;
  box-shadow: -1px -1px 8px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin-top: 2rem;
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  gap: 2rem;

  @media screen and (max-width: 680px) {
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
  }

  .contact {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @media screen and (max-width: 680px) {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 1rem;
    }
  
    img {
      max-width: 40px;
      height: auto;
    }

    p {
      max-width: 240px;
      @media screen and (max-width: 680px) {
        padding: 0;
        border-bottom: none;
        margin-bottom: 0;
      }
    }

    .socialIcons {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: 1.2rem;

      &>* {
        
        &:hover {
          transform: scale(1.2);
          transition: 0.2s ease-in-out;
          cursor: pointer;
        }
      }
    }
  }

  .help {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    ul {
      padding-left: 0.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      
      li {
        list-style: circle;
      }
    }

    @media screen and (max-width: 680px) {
    }
  }

  .about {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    ul {
      padding-left: 0.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      
      li {
        list-style: circle;
      }
    }
    
    @media screen and (max-width: 680px) {
    }
  }
}