.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;

  img {
    max-width: 40px;
    height: auto;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }


  .input {
    position: relative;

    input {
      padding: 0.5rem 1rem;
      border: 1px solid #209CEE;
      border-radius: 12px;
    }
    .inputIcon {
      position: absolute;
      top: 0.5rem;
      right: 1rem;
      cursor: pointer;
      color: #209CEE;
    }
  }

  .userAccess {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
    .account {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
    }

    .cart {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      background-color: #209CEE;
      color: #fff;
      border-radius: 20px;
      padding: 0.5rem 0.8rem;
      cursor: pointer;

      &:hover {
        background-color: transparent;
        border: 1px solid #209CEE;
        color: #209CEE;
      }
    }
  }
}