.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;

  img {
    max-width: 40px;
    height: auto;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    li {
      &:hover {
        color: $blue;
      }
    }
  }


  .input {
    position: relative;

    input {
      padding: 0.5rem 1rem;
      border: 1px solid $blue;
      border-radius: 12px;
    }
    .inputIcon {
      position: absolute;
      top: 0.5rem;
      right: 1rem;
      cursor: pointer;
      color: $blue;
    }
  }

  .userAccess {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
    .account {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      
      &:hover {
        cursor: pointer;
        color: $blue;
      }
    }

    .cartButton {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      background-color: $blue;
      color: #fff;
      border-radius: 20px;
      padding: 0.5rem 0.8rem;
      cursor: pointer;

      &:hover {
        background-color: transparent;
        border: 1px solid $blue;
        color: $blue;
        padding: calc(0.5rem - 1px) calc(0.8rem - 1px);
      }

      .cartQuantity {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: $red;
        width: 1.4rem;
        height: 1.4rem;
        padding: 0.8rem;
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        border: none;
        border-radius: 50%;
        transform: translate(43.75%, 43.75%);
      }
    }
  }
}