.container {
  max-width: 1280px;
  margin: 0 auto;
  overflow: auto;
}























@import './components/Navbar/Navbar',
'./components/Hero/Hero',
'./components/Products/Products',
'./pages/Home/Home';