.container {
  max-width: 1280px;
  margin: 0 auto;
  overflow: auto;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
}

$blue : #209CEE;
$red : #f01e2c;
$box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.1);

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}
























@import './components/Navbar/Navbar',
'./components/Hero/Hero',
'./components/Products/Products',
'./components/Layout/Layout',
'./components/Cart/Cart',
'./pages/Home/Home';