@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&family=Work+Sans&display=swap');

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: grey;
}

html::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 4px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter";
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

a {
  color: unset;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}